@import "tailwindcss";

/* Fonts */
@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Lobster", cursive;
}

/* Scrollbar hide */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Cursor */
.story-ring {
  cursor: pointer;
}

/* Remove Chrome autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--background) inset !important;
  box-shadow: 0 0 0px 1000px var(--background) inset !important;

  -webkit-text-fill-color: var(--foreground) !important;
  caret-color: var(--foreground);

  transition: background-color 9999s ease-in-out 0s;
}

/* Enable dark variant (optional if you use class) */
@custom-variant dark (&:is(.dark *));

/* Default (light mode) */
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --text: oklch(0.145 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

/* Dark mode */
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --text: oklch(0.985 0 0);
  --border: oklch(0.275 0 0);
  --input: oklch(0.325 0 0);
  --ring: oklch(0.556 0 0);
}

/* Map to Tailwind */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --font-sans: var(--font-sans);
}

/* Base styles */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}
